body {
    margin: 0;
    padding: 0;
    background-color: #0d1b2a;
    color: #FAFAFF;
    font-family: Urbanist, sans-serif;
}

header {
    padding: 10px;
    text-align: center;
    display: flex;
    background-color: #415a77;
    width: 100%;
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: left;
}

nav {
    background-color: 1b263b;
    padding: 10px;
    flex: 6;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FAFAFF;
    margin: 0 15px;
}

.home-section {
    height: 100vh;
}

.card {
    width: 300px;
    height: 200px;
    background-color: #778da9;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}